name: Docker Build and Push

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/discord-music-bot:latest
            ${{ secrets.DOCKER_USERNAME }}/discord-music-bot:sha-${{ github.sha }}

      - name: Update Kubernetes Manifest
        run: |
          sed -i "s|image: .*|image: ${{ secrets.DOCKER_USERNAME }}/discord-music-bot:sha-${{ github.sha }}|g" k8s/deployment.yaml
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          git add k8s/deployment.yaml
          git commit -m "Update image to sha-${{ github.sha }}"
          git push
